[Unit]
Description=Pufferfish Backend Service
Requires=nginx.service media-pi-LOGS.mount
After=nginx.service media-pi-LOGS.mount

[Service]
Type=simple
User=pi
ExecStart=/home/pi/.pyenv/versions/ventserver/bin/python /home/pi/pufferfish-vent-software/backend/ventserver/simulation.py
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pufferfish_backend

[Install]
WantedBy=multi-user.target