[Unit]
Description=Data Tampering Check
Before=nginx.service
After=graphical.target

[Service]
Type=oneshot
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/pi/.Xauthority
RemainAfterExit=yes
ExecStart=/opt/compare_hash.sh

[Install]
WantedBy=graphical.target